* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*::selection {
  background-color: rgb(101, 101, 20);
  color: khaki;
}


body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-image: url("images/pexels-steve-12843338.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-size: 30px;

}

pre {
  font-family: 'Dancing Script', cursive;
  margin-left: 20px;
  color: rgb(212, 129, 70)
}

button {
  text-decoration: none;
  background-image: linear-gradient(rgb(71, 95, 71), rgba(17, 75, 75, 0.899));
  border-radius: 54%;
  justify-self: center;
  height: 40px;
  width: 70px;
  transition: height 0.3s ease, width 0.3s ease, background-color 0.3s ease;
}

button>a {
  text-decoration: none;
  color: chartreuse;
}

button>a:hover {
  color: rgb(216, 223, 11);
}

button:hover {
  background-color: rgb(22, 3, 129);
  height: 70px;
  width: 100px;

}